#include <windows.h>
#include "resources.h"

IDI_APPICON ICON "icon.ico"

IDD_PREFERENCES DIALOGEX 0, 0, 250, 250
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Preferences"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX "Music", IDC_GROUP_MUSIC, 7, 7, 236, 50
    CONTROL "Show Music Activity", IDC_CHECK_SHOW_MUSIC, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 23, 100, 10
    GROUPBOX "Movies", IDC_GROUP_MOVIES, 7, 60, 236, 50
    CONTROL "Show Movie Activity", IDC_CHECK_SHOW_MOVIES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 76, 100, 10
    GROUPBOX "TV Shows", IDC_GROUP_TVSHOWS, 7, 113, 236, 50
    CONTROL "Show TV Show Activity", IDC_CHECK_SHOW_TVSHOWS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 129, 100, 10
    GROUPBOX "General", IDC_GROUP_GENERAL, 7, 166, 236, 50
    CONTROL "Show Bitrate", IDC_CHECK_SHOW_BITRATE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 182, 100, 10
    CONTROL "Show Quality", IDC_CHECK_SHOW_QUALITY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 198, 100, 10
    LTEXT "Episode Format", -1, 120, 182, 50, 8
    COMBOBOX IDC_EDIT_EPISODE_FORMAT, 170, 182, 60, 50, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "Season Format", -1, 120, 198, 50, 8
    COMBOBOX IDC_EDIT_SEASON_FORMAT, 170, 198, 60, 50, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "Save", IDC_BUTTON_SAVE, 130, 226, 50, 14
    PUSHBUTTON "Cancel", IDC_BUTTON_CANCEL, 193, 226, 50, 14
END
