#include <windows.h>
#include "resources.h"

IDI_APPICON ICON "icon.ico"

IDD_PREFERENCES DIALOGEX 0, 0, 250, 320
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Preferences"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX "General", IDC_GROUP_GENERAL, 7, 7, 236, 30
    CONTROL "Show Plex Client in activity", IDC_CHECK_SHOW_CLIENT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 23, 150, 10
    GROUPBOX "Music", IDC_GROUP_MUSIC, 7, 40, 236, 60
    CONTROL "Show Music Activity", IDC_CHECK_SHOW_MUSIC, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 56, 100, 10
    CONTROL "Gatekeep Music Activity", IDC_CHECK_GATEKEEP_MUSIC, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 120, 56, 100, 10
    CONTROL "Show FLAC as CD", IDC_CHECK_SHOW_FLAC_AS_CD, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 73, 100, 10
    LTEXT "Custom Title:", -1, 14, 88, 50, 8
    EDITTEXT IDC_EDIT_GATEKEEP_MUSIC_TITLE, 70, 88, 166, 12, ES_AUTOHSCROLL
    GROUPBOX "Movies", IDC_GROUP_MOVIES, 7, 103, 236, 50
    CONTROL "Show Movie Activity", IDC_CHECK_SHOW_MOVIES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 119, 100, 10
    CONTROL "Show Bitrate", IDC_CHECK_SHOW_MOVIE_BITRATE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 120, 119, 100, 10
    CONTROL "Show Quality", IDC_CHECK_SHOW_MOVIE_QUALITY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 120, 135, 100, 10
    GROUPBOX "TV Shows", IDC_GROUP_TVSHOWS, 7, 156, 236, 50
    CONTROL "Show TV Show Activity", IDC_CHECK_SHOW_TVSHOWS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 172, 100, 10
    CONTROL "Show Bitrate", IDC_CHECK_SHOW_TVSHOW_BITRATE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 120, 172, 100, 10
    CONTROL "Show Quality", IDC_CHECK_SHOW_TVSHOW_QUALITY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 120, 188, 100, 10
    GROUPBOX "Customize Formatting", IDC_GROUP_CUSTOMIZE_FORMATTING, 7, 220, 236, 80
    LTEXT "Music Format", -1, 14, 236, 60, 8
    COMBOBOX IDC_COMBO_MUSIC_FORMAT, 80, 236, 150, 50, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "TV Show Format", -1, 14, 252, 60, 8
    COMBOBOX IDC_COMBO_TV_FORMAT, 80, 252, 150, 50, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "Episode Format", -1, 14, 268, 60, 8
    COMBOBOX IDC_EDIT_EPISODE_FORMAT, 80, 268, 150, 50, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "Season Format", -1, 14, 284, 60, 8
    COMBOBOX IDC_EDIT_SEASON_FORMAT, 80, 284, 150, 50, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "Save", IDC_BUTTON_SAVE, 130, 300, 50, 14
    PUSHBUTTON "Cancel", IDC_BUTTON_CANCEL, 193, 300, 50, 14
END
